
@font-face {
	font-family: 'IranSans-Bold';
	src: url('http://bayanbox.ir/download/3015135100739220516/IRANSansWeb-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IranSans-Medium';
	src: url('http://bayanbox.ir/download/2056319774417289822/IRANSansWeb-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'IranSans-Bold';
}


.container{
	width:100%;
	height:100%;
	background-size:cover;
}

.contain{
	position: relative;
	width: 400px;
	height:400px;
	margin:auto;
	margin-top:200px;
}

.name{
	position:relative;
	font-family: 'IranSans-Bold';
	color:white;
	font-size:20px;
	margin-top:180px;
	text-shadow: 2px 2px black;
}
.name2{
	position:relative;
	font-family: 'IranSans-Medium';
	color:white;
	font-size:15px;
	margin-top:5px;
	text-shadow: 1px 1px black;
}
.name3{
	position:relative;
	font-family: 'IranSans-Bold';
	color:black;
	border-radius: 25px;
	background-color: #00ffbf;
	font-size:12px;
	margin-top:10px;
	width:90px;
	height:30px;
	text-align:center;
	left:50%;
	padding-top:6px;
	border-color:black;
	border-width:1px;
	border-style: solid;
	margin-left:-45px;
}

#music1  #music2{
	display:none;
}

.menu{
	font-family: 'IranSans-Bold';
}

.item{
	margin: 5px;
}

.menu{
	direction:rtl;
}

.icon1{
	width:57px;
	height:68px;
	background: url(../img/ins.png) no-repeat center top;
	margin:7px;
} 

.icon2{
	width:57px;
	height:68px;
	background: url(../img/tel.png) no-repeat center top;
	margin:7px;
}

.icon3{
	width:57px;
	height:68px;
	background: url(../img/oo2.png) no-repeat center top;
	margin:7px;
}

.icon4{
	width:57px;
	height:68px;
	background: url(../img/oo3.png) no-repeat center top;
	margin:7px;
}

.icon5{
	width:57px;
	height:68px;
	background: url(../img/oo4.png) no-repeat center top;
	margin:7px;
}

.icon6{
	width:57px;
	height:68px;
	background: url(../img/oo5.png) no-repeat center top;
	margin:7px;
}

.icon7{
	width:57px;
	height:68px;
	background: url(../img/oo6.png) no-repeat center top;
	margin:7px;
}
  

.headl{
	width: 112px;
	height:34px;
	background: url(../img/logo2.png) no-repeat center top;
}

.cover {
	position: absolute;
	display: flex;
	  display: -webkit-flex;
	  -webkit-align-items: center;
	  align-items: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	
	left: 50%;
	margin: -250px 0 0 -200px;
	width: 400px;
	top: 50%;
	opacity: 0.7;
	opacity: 0;
	color: #252445;
	/*-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;*/
}

.logo-img {
	position: absolute;
	left: 50%;
	margin: -200px 0 0 -200px;
	width: 400px;
	top: 50%;
	opacity: 0.7;
	opacity: 0;
	color: #252445;
	/*-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;*/
}
.logo-img :hover{
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--radioactive:before {
	background: url(../img/item.png) no-repeat center top;
}

.icon--sun:before {
	content: "\e900";
}

.icon--drizzle:before {
	content: "\e902";
}

.icon--rainy:before {
	content: "\e903";
}

.icon--storm:before {
	content: "\e906";
}

.slideshow {
	position: relative;
	height: 100vh;
	width: 100vw;
	background: url(../img/city.jpg) no-repeat center top;
	background-size: cover;
	overflow: hidden;
}

.slideshow::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 35vh 0 0 0;
	pointer-events: none;
	line-height: 1;
	font-family: "Roboto", sans-serif;
}

.slide--current {
	pointer-events: auto;
}

.slideshow__nav {
	
	text-align: center;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	position: absolute;
	bottom: 5vh;
}

.nav-item {
	display: block;
	padding: 1em;
	color: #252445;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.nav-item:hover,
.nav-item:focus,
.nav-item--current {
	color: #fff;
}

.nav-item .icon {
	font-size: 2em;
}

.nav-item span {
	display: block;
	margin: 0.25em 0 0 0;
	font-weight: 700;
}


/* Content */

.slide__element {
	opacity: 0;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.slide--current .slide__element {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slide__element--temp {
	font-size: 8em;
	font-weight: 700;
	margin: 0 0 0.1em;
}

.slide__element--temp small {
	font-size: 0.25em;
}

.slide__element--info {
	font-size: 2em;
}

.slide__element--date {
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 1em;
}

@media screen and (max-height: 39em) {
	.slideshow {
		font-size: 75%;
	}
	.slide {
		padding-top: 35vh;
	}
	.slideshow__nav {
		bottom: 6em;
	}
}
