html, body { height: 100%; }
body {
    margin: 0;
    background: radial-gradient(#666, #222);
    overflow: hidden;
}

.moving-zone {
    position: absolute;
    top:20%; left:50%;
    width:356px; height:83px;
    margin-left:-178px;
    perspective: 800px;
}
.popup {
    position: absolute;
    width:300px;
    cursor: pointer;
    transform-style: preserve-3d;
}
.popup:before {
    content: '';
    position: absolute;
    left:5%; top:5%;
    width:90%; height:90%;
    transform: translateZ(-100px);
}
.popup-content {
	margin-top:-30px;
	width:356px;
	height:83px;
	background: url(../img/nme.png) no-repeat center top;
	background-size:cover;
}
.popup-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    text-align: center;
    transform: translateZ(15px);
}
.popup-text b {
    color: coral;
    font-weight: 300;
}